<div class="homepage">
  <h1>My account App</h1>
    <li class="nav-item my-flex">
      <%= link_to "Sign in", new_user_session_path, class:"button" %>
      <%= link_to "Sign up", new_user_registration_path, class:"button" %>
    </li>
</div>

