<div id="<%= dom_id reservation %>">
  
  <p>
    <strong>Car:</strong>
    <%= reservation.car.name %>
  </p>

  <p>
    <strong>Total Amount:</strong>
    <%= reservation.total_amount_payable %>
  </p>

</div>
