<p style="color: green"><%= notice %></p>

<%= render 'shared/backend/header_cars' %>

<div class="items-list">
  <% @cars.each do |car| %>
    <%= render car %>
  <% end %>
</div>

<%= render 'shared/backend/footer' %>
