<h1>Editing expense</h1>

<%= render "form", expense: @expense %>

<br>

<div>
  <%= link_to "Show this expense", user_category_expense_path(user_id: @user.id, category_id: @category.id, id: @expense.id) %> |
  <%= link_to "Back to expenses", user_category_expenses_path(user_id: @user.id, category_id: @category.id) %>
</div>
